In [1]:
import pandas as pd #Utilizado para manipular os dados

#.read_csv(local ou link do csv) é um comando que abre o dataset em formato de dataframe (ou tabelinha)
pre_df_22 = pd.read_csv('https://dados.ufpe.br/dataset/cba99924-ad97-45f6-9d1c-f4fb7a940c6f/resource/3ec70513-eca6-453d-95d1-fde1f1972a11/download/discentes-2022-ufpe.csv') 
pre_df_21 = pd.read_csv('https://dados.ufpe.br/dataset/cba99924-ad97-45f6-9d1c-f4fb7a940c6f/resource/3b4468e4-1f72-49c1-bbf3-5d71216b85e5/download/discentes-ingressos-cursos-graduacao-2021-ufpe.csv')

In [2]:
%run ./Funcoes.ipynb

In [3]:
pre_df_22

,CD_DISCENTE,ANO_INGRESSO,SEMESTRE_INGRESSO,TIPO_INGRESSO,CAMPUS,COD_CURSO,CURSO,NATURALIDADE,UF_NATURALIDADE,PAIS_NATURALIDADE,BAIRRO_ENDERECO,CIDADE_ENDERECO,UF_ENDERECO,SEXO,ANO_NASCIMENTO,COTA,TIPO_COTA,ESCOLARIDADE_PAI,ESCOLARIDADE_MAE,DEFICIENCIA
0,359082,2022,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,ALTINHO,PE,BRA,CENTRO,ALTINHO,PE,M,2001,S,L6,ENSINO FUNDAMENTAL INCOMPLETO,ANALFABETO,N
1,358668,2022,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,ALTINHO,PE,BRA,CENTRO,ALTINHO,PE,M,2003,S,L2,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,N
2,357112,2022,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,AMARAJI,PE,BRA,CIDADE UNIVERSITARIA,RECIFE,PE,M,2004,S,L2,NaN,SUPERIOR INCOMPLETO,N
3,357368,2022,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,AMERICANA,SP,BRA,CIDADE UNIVERSITARIA,RECIFE,PE,M,2002,N,A0,ENSINO SUPERIOR,SEGUNDO GRAU INCOMPLETO,N
4,354685,2022,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,ARCOVERDE,PE,BRA,CIDADE UNIVERSITARIA,RECIFE,PE,M,2004,S,L5,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840,337953,2022,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,CAJA,VITORIA DE SANTO ANTAO,PE,F,1969,N,A0,ENSINO FUNDAMENTAL,SEGUNDO GRAU INCOMPLETO,N
4841,358950,2022,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,REDENCAO,VITORIA DE SANTO ANTAO,PE,F,1999,S,L2,ENSINO MEDIO,ENSINO MEDIO,N
4842,354165,2022,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,CAJA,VITORIA DE SANTO ANTAO,PE,F,2002,N,A0,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,N
4843,358994,2022,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,POVOADO CIDADE DE DEUS,VITORIA DE SANTO ANTAO,PE,F,2005,S,L2,ENSINO MEDIO,ENSINO MEDIO,N
4844,353842,2022,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,LOTEAMENTO CONCEIÇÃO,VITORIA DE SANTO ANTAO,PE,M,1999,S,L2,NaN,ENSINO FUNDAMENTAL INCOMPLETO,N

In [4]:
pre_df_21

,CD_DISCENTE,ANO_INGRESSO,SEMESTRE_INGRESSO,TIPO_INGRESSO,CAMPUS,COD_CURSO,CURSO,NATURALIDADE,UF_NATURALIDADE,PAIS_NATURALIDADE,BAIRRO_ENDERECO,CIDADE_ENDERECO,UF_ENDERECO,SEXO,ANO_NASCIMENTO,COTA,TIPO_COTA,ESCOLARIDADE_PAI,ESCOLARIDADE_MAE,DEFICIENCIA
0,350507,2021,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,ARCOVERDE,PE,BRA,CIDADE UNIVERSITARIA,RECIFE,PE,F,2002,N,A0,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,N
1,349810,2021,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,ASSARE,CE,BRA,SALGADO,CARUARU,PE,M,2002,S,L1,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,N
2,349323,2021,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,BARREIROS,PE,BRA,CIDADE UNIVERSITARIA,RECIFE,PE,M,2000,S,L6,ENSINO MEDIO,ENSINO FUNDAMENTAL INCOMPLETO,N
3,349733,2021,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,BELO JARDIM,PE,BRA,TANCREDO NEVES,BELO JARDIM,PE,F,2000,S,L1,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO MEDIO,N
4,349062,2021,1,SISU,AGRESTE,1000,ADMINISTRAÇÃO -CAA,BELO JARDIM,PE,BRA,SAO PEDRO,BELO JARDIM,PE,F,2002,S,L6,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO MEDIO,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4630,348541,2021,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,CAJA,VITORIA DE SANTO ANTAO,PE,F,2001,S,L2,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,N
4631,350632,2021,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,MATRIZ,VITORIA DE SANTO ANTAO,PE,F,2002,N,A0,ENSINO MEDIO,ENSINO MEDIO,N
4632,350459,2021,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,MATRIZ,VITORIA DE SANTO ANTAO,PE,F,2003,N,A0,NaN,ENSINO MEDIO,N
4633,349254,2021,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,REDENCAO,VITORIA DE SANTO ANTAO,PE,F,2003,S,L6,NaN,SUPERIOR INCOMPLETO,N
4634,254822,2021,1,SISU,VITORIA,348,SAÚDE COLETIVA - CAV,VITORIA DE SANTO ANTAO,PE,BRA,BELA VISTA,VITORIA DE SANTO ANTAO,PE,M,1984,N,A0,NaN,NaN,N

In [5]:
remover = ['CD_DISCENTE', 'ANO_INGRESSO', 'SEMESTRE_INGRESSO', 'TIPO_INGRESSO', 'CURSO', 'NATURALIDADE', 
                          "SEXO", 'PAIS_NATURALIDADE','UF_NATURALIDADE', 'UF_ENDERECO', 'COTA', 
                          "ESCOLARIDADE_PAI", "ESCOLARIDADE_MAE",]
ordem = ["COD_CURSO","ANO_NASCIMENTO", "IDADE","DEFICIENCIA","HOMEM","MULHER","CAMPUS_num","BAIRRO_ENDERECO_num",
                         "CIDADE_ENDERECO_num","TIPO_COTA_num","FUNDAMENTAL_PAI","ENSINO MEDIO_PAI","ENSINO SUPERIOR_PAI",
                         "FUNDAMENTAL_MAE","ENSINO MEDIO_MAE","ENSINO SUPERIOR_MAE"]

In [6]:
df_22 = Processamento(pre_df_22, 2022, colunas_remover = remover, colunas_ordem = ordem)
df_21 = Processamento(pre_df_21, 2021, colunas_remover = remover, colunas_ordem = ordem)

In [7]:
df_22

,COD_CURSO,ANO_NASCIMENTO,IDADE,DEFICIENCIA,HOMEM,MULHER,CAMPUS_num,BAIRRO_ENDERECO_num,CIDADE_ENDERECO_num,TIPO_COTA_num,FUNDAMENTAL_PAI,ENSINO MEDIO_PAI,ENSINO SUPERIOR_PAI,FUNDAMENTAL_MAE,ENSINO MEDIO_MAE,ENSINO SUPERIOR_MAE
0,1000,2001,21,0,1,0,0,90,5,7,1,0,0,0,0,0
1,1000,2003,19,0,1,0,0,90,5,5,1,0,0,1,0,0
2,1000,2004,18,0,1,0,0,97,76,5,0,0,0,0,0,0
3,1000,2002,20,0,1,0,0,97,76,0,0,0,1,0,0,0
4,1000,2004,18,0,1,0,0,97,76,6,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840,348,1969,53,0,0,1,2,69,103,0,0,0,0,0,0,0
4841,348,1999,23,0,0,1,2,284,103,5,0,1,0,0,1,0
4842,348,2002,20,0,0,1,2,69,103,0,1,0,0,1,0,0
4843,348,2005,17,0,0,1,2,279,103,5,0,1,0,0,1,0
4844,348,1999,23,0,1,0,2,209,103,5,0,0,0,1,0,0

In [8]:
df_21

,COD_CURSO,ANO_NASCIMENTO,IDADE,DEFICIENCIA,HOMEM,MULHER,CAMPUS_num,BAIRRO_ENDERECO_num,CIDADE_ENDERECO_num,TIPO_COTA_num,FUNDAMENTAL_PAI,ENSINO MEDIO_PAI,ENSINO SUPERIOR_PAI,FUNDAMENTAL_MAE,ENSINO MEDIO_MAE,ENSINO SUPERIOR_MAE
0,1000,2002,19,0,0,1,0,116,82,0,1,0,0,1,0,0
1,1000,2002,19,0,1,0,0,332,26,1,1,0,0,1,0,0
2,1000,2000,21,0,1,0,0,116,82,7,0,1,0,1,0,0
3,1000,2000,21,0,0,1,0,372,12,1,1,0,0,0,1,0
4,1000,2002,19,0,0,1,0,353,12,7,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4630,348,2001,20,0,0,1,2,84,106,5,1,0,0,1,0,0
4631,348,2002,19,0,0,1,2,245,106,0,0,1,0,0,1,0
4632,348,2003,18,0,0,1,2,245,106,0,0,0,0,0,1,0
4633,348,2003,18,0,0,1,2,322,106,7,0,0,0,0,0,0
4634,348,1984,37,0,1,0,2,61,106,0,0,0,0,0,0,0